<ion-view title="Forget Password" id="page16">
  <ion-content padding="true" class="has-header">
    <form id="forgetPassword-form13" class="list">
      <label class="item item-input item-stacked-label" id="forgetPassword-input19">
        <span class="input-label">Email Address:</span>
        <input type="email" placeholder="">
      </label>
    </form>
    <a ui-sref="googleAuthenticator2()" id="forgetPassword-button23" class="button button-positive button-block">Next</a>
  </ion-content>
</ion-view>