<ion-view title="Google Authenticator" id="page10">
  <ion-content padding="true" class="has-header">
    <form id="googleAuthenticator2-form11" class="list">
      <div class="spacer" style="width: 300px; height: 135px;"></div>
      <label class="item item-input" id="googleAuthenticator2-input20">
        <input type="text" placeholder="Your Google Authenticator Code">
      </label>
      <div class="spacer" style="width: 300px; height: 142px;"></div>
    </form>
    <a ui-sref="passwordResetSucceed()" id="googleAuthenticator2-button11" class="button button-positive button-block">Next</a>
  </ion-content>
</ion-view>