<ion-view title="Please upload these photos" id="page15">
  <ion-content padding="true" class="has-header">
    <form id="pleaseUploadThesePhotos-form10" class="list">
      <ion-item class="item-thumbnail-left" id="pleaseUploadThesePhotos-list-item13">
        <img src="img/wtFcXy5qSvezQbIHL3VU_passport.jpeg">
        <h2>Your Passport Photo</h2>
      </ion-item>
    </form>
    <ion-list id="pleaseUploadThesePhotos-list4">
      <ion-item class="item-thumbnail-left" id="pleaseUploadThesePhotos-list-item14">
        <img src="img/UlLalpPYT1bJqACMqsDA_selfie.jpg">
        <h2>Your Face</h2>
      </ion-item>
    </ion-list>
    <div class="spacer" style="width: 300px; height: 40px;"></div>
    <form id="pleaseUploadThesePhotos-form12" class="list">
      <label class="item item-select" id="pleaseUploadThesePhotos-select1">
        <span class="input-label">Photo Type:</span>
        <select>
          <option>Passport Photo</option>
          <option>Your Face</option>
        </select>
      </label>
    </form>
    <div>
      <img src="img/Quk9aZ3kQvyP2FWVnCae_passport.jpeg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="pleaseUploadThesePhotos-button21" class="button button-stable button-block button-outline">Upload</button>
    <div class="spacer" style="width: 300px; height: 59px;"></div>
    <div style="margin-right:-20px;">
      <a ui-sref="login()" id="pleaseUploadThesePhotos-button22" style="left:-10px;" class="button button-positive button-full">Confirm</a>
    </div>
  </ion-content>
</ion-view>