<ion-view title="Reset Password" id="page17">
  <ion-content padding="true" class="has-header">
    <form id="resetPassword-form15" class="list">
      <label class="item item-input item-stacked-label" id="resetPassword-input23">
        <span class="input-label">Type in new password</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="resetPassword-input24">
        <span class="input-label">Confirm password</span>
        <input type="text" placeholder="">
      </label>
    </form>
    <button id="resetPassword-button24" class="button button-positive button-block">Finish</button>
  </ion-content>
</ion-view>