<ion-view title="Email Confirmation" id="page11">
  <ion-content padding="true" class="has-header">
    <form id="emailConfirmation-form5" class="list">
      <div class="spacer" style="width: 300px; height: 65px;"></div>
      <div id="emailConfirmation-markdown7" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>Verifcation code has been sent to </strong>
        </p>

        <p style="color:#000000;">
          <strong>guanlun_zhao@mymail.sutd.edu.sg</strong>
        </p>
      </div>
      <div class="spacer" style="width: 300px; height: 65px;"></div>
      <label class="item item-input" id="emailConfirmation-input10">
        <input type="text" placeholder="Your Email Verification Code">
      </label>
      <div class="spacer" style="width: 300px; height: 142px;"></div>
    </form>
    <button id="emailConfirmation-button16" class="button button-positive button-block">Next</button>
  </ion-content>
</ion-view>