<ion-view title="Personal Particulars" id="page12">
  <ion-content padding="true" class="has-header">
    <form id="personalParticulars-form6" class="list">
      <label class="item item-input item-stacked-label" id="personalParticulars-input11">
        <span class="input-label">First Name</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="personalParticulars-input12">
        <span class="input-label">Last Name</span>
        <input type="text" placeholder="">
      </label>
      <div class="spacer" style="width: 300px; height: 29px;"></div>
      <label class="item item-input item-stacked-label" id="personalParticulars-input13">
        <span class="input-label">Address Line 1</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input item-stacked-label" id="personalParticulars-input14">
        <span class="input-label">Address Line 2</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="personalParticulars-input15">
        <span class="input-label">Postcode</span>
        <input type="text" placeholder="">
      </label>
      <label class="item item-input" id="personalParticulars-input16">
        <span class="input-label">City</span>
        <input type="text" placeholder="">
      </label>
      <a ui-sref="setUpGoogleAuthenticator()" id="personalParticulars-button17" class="button button-positive button-block">Next</a>
    </form>
  </ion-content>
</ion-view>