<ion-view title="Photo Verification" id="page18">
  <ion-content padding="true" class="has-header">
    <div id="photoVerification-markdown10" class="show-list-numbers-and-dots">
      <p style="color:#000000;">Please upload photo of
        <strong>Yourself</strong> with
        <strong>Passport</strong> together with a piece of paper that says
        <strong>'coinhako
          <em>date</em>'</strong>
      </p>
    </div>
    <div>
      <img src="img/6Dj6jGQjSSjxwyhiGN1P_selfiepassport.jpg" style="display: block; width: 100%; height: auto; margin-left: auto; margin-right: auto;">
    </div>
    <button id="photoVerification-button25" class="button button-stable button-block button-outline">Upload</button>
    <a ui-sref="verificationSucceed()" id="photoVerification-button12" class="button button-positive button-block">Finish</a>
  </ion-content>
</ion-view>