<ion-view title="SMS" id="page8">
  <ion-content padding="true" class="has-header">
    <form id="sMS-form3" class="list">
      <div class="spacer" style="width: 300px; height: 65px;"></div>
      <div id="sMS-markdown6" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>One time password has been sent to </strong>
        </p>

        <p style="color:#000000;">
          <strong>(+65 85####89)</strong>
        </p>
      </div>
      <div class="spacer" style="width: 300px; height: 65px;"></div>
      <label class="item item-input" id="sMS-input8">
        <input type="text" placeholder="Your one-time SMS code">
      </label>
      <div class="spacer" style="width: 300px; height: 142px;"></div>
    </form>
    <a ui-sref="photoVerification()" id="sMS-button14" class="button button-positive button-block">Next</a>
  </ion-content>
</ion-view>