<ion-view title="SMS" id="page21">
  <ion-content padding="true" class="has-header">
    <form id="sMS2-form18" class="list">
      <div class="spacer" style="width: 300px; height: 65px;"></div>
      <div id="sMS2-markdown11" style="text-align:center;" class="show-list-numbers-and-dots">
        <p style="color:#000000;">
          <strong>One time password has been sent to </strong>
        </p>

        <p style="color:#000000;">
          <strong>(+65 85####89)</strong>
        </p>
      </div>
      <div class="spacer" style="width: 300px; height: 65px;"></div>
      <label class="item item-input" id="sMS2-input25">
        <input type="text" placeholder="Your one-time SMS code">
      </label>
      <div class="spacer" style="width: 300px; height: 142px;"></div>
    </form>
    <button id="sMS2-button29" class="button button-positive button-block">Next</button>
  </ion-content>
</ion-view>